#history {
   background: url(http://img02.deviantart.net/4442/i/2016/312/5/7/untitled_3_by_peachyfiesta-danskju.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#genderbody {
  color: #fff;
  background: url("http://img00.deviantart.net/f77d/i/2016/313/a/b/gender__1_by_peachyfiesta-danvrhb.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#namebody {
  background: url("http://img00.deviantart.net/cdb8/i/2016/313/f/b/choose_your_name__by_peachyfiesta-danvreb.png");
    background-size: cover;
  background-repeat: no-repeat;
}

#gamebody {
  background: url("http://i39.servimg.com/u/f39/17/72/50/13/untitl10.jpg");
    background-size: cover;
  background-repeat: repeat-x;
}

.enter{
  text-align: center;
  margin: 20% auto;
}

input[type=text] {
  width: 30%;
  background: #f0ebe6;
  border: 5px solid #f0ebe6;
}

.picture {
  width: 456px;
  height: 300px;
  background: url("https://imagink.github.io/img/1.png");
  background-size: cover;
  border: 20px solid #22303c;
  margin: 40px auto;
  border-bottom-color: #5f7a93;
  border-left-color: #7f9baf;
  border-right-color: #3f5267;
}

h2, h1 {
  color: #f0ebe6;
  font-family: arial;
  padding: 0px 218px
}

#text {
  text-align: center; 
  cursor: default;
}

#next2, #next3, #next4, #next5, #next6, #next7, #next8, #next9 {
  display: none;
}

.button {
  cursor: pointer;
  background-image: url("http://orig09.deviantart.net/af9e/f/2016/313/5/1/next_by_peachyfiesta-danvp97.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px 44px;
}

button {
   cursor: pointer;
  background:  url("http://orig09.deviantart.net/af9e/f/2016/313/5/1/next_by_peachyfiesta-danvp97.png");
  background-size: 90%;
  background-repeat: no-repeat;
  padding: 20px 47px;
  border: none;
  margin-left: 5px;
}

.nextholder {
  text-align: right;
  padding-right: 10%;
  padding-top: 10%;
  position: fixed;
  bottom: 30%;
  right: 2%;
}

input[type="radio"] {
  background: url("http://pre07.deviantart.net/4abb/th/pre/i/2016/313/6/0/leonainbox_copy_by_peachyfiesta-danwg46.png");
}

input[type="radio"]:checked + label {
  background: #EE6C24;
}

.box1 {
  width: 500px;
  display: inline;
  padding: 100px 270px
}

.box2 {
  width: 500px;
  display: inline;
  padding: 40px 40px
}

label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
}
label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
}

.fem {
  display: inline-block;
}

.me {
  display: inline-block;
}

.selectedtext {
  text-align: right;
  font-size: 20px;
  font-family: arial;
  display: block;
  margin-right: 100px;
}

.selectedtext .sex {
  color: #4891C6;
}

#confirm {
  display:none;
}

.m {
  color: blue;
}

.f {
  color: red;
}

.leona {
  width: 110px;
  height: 285px;
  background: url("https://imagink.github.io/img/front.png");
  background-size: cover;
  margin-top: 500px;
}

/*img {
  width: 30%
}
